__pycache__
.DS_Store
._*
*~
auto
build
thirdparty
.juliahistory
_region_*
*.mat
*.pdf
*.pdf_tex
*.log
*.eps
*.aux
*.bbl
*.blg
*.out
*.nav
*.snm
*.toc
GPATH
GRTAGS
GTAGS
*.nb
*.ipynb
reports
questions